@charset "utf-8";
/* CSS Document */
body{background:#f6f6f6; margin: 0; padding: 0; font-family: "微软雅黑"; color:#434546;}
a{ outline: none; text-decoration: none;}
img{ border: none; outline: none;}
ul,li,p{ margin:0; padding:0;}
ul,li{ list-style-type:none;}
em,i{ font-style:normal;}
.wrap{ margin: 0 auto; min-width: 320px;}
.header{background: #eb514f; height: 40px; padding:0 10px; overflow:hidden;position: relative;}
.header_left{ width:15%; float:left; height:40px; background:url(../images/pic1.png) no-repeat left center;}
.header_mid{ width:68%; margin:0 1%; float:left; border-radius:5px; height:34px; margin-top:3px; background:url(../images/pic3.png) no-repeat left center #f26760;}
.header_right{ width:15%; float:right; height:40px; background:url(../images/pic2.png) no-repeat right center;}
.header_wz{ padding-left:30px; height:34px; line-height:34px; width:100%;}
.srk{ height:34px; line-height:34px; border:0; background:none; width:100%; color:#f6d5d8;}
.lunhuan{ width:100%;}
.msgz{ padding:10px; background:#fff; border-bottom:1px solid #eee; overflow:hidden;}
.msgz_left{ width:78%; margin-right:2%; float:left;line-height:40px;}
.msgz_right{ width:20%; float:right;}
.anniu{ width:100%; height:40px; line-height:40px; background:#ff7f06; text-align:center; color:#fff; border-radius:5px; display:block;}
.gonggao{ margin-top:8px; border:1px solid #eee; padding:10px; background:url(../images/pic5.png) no-repeat left center #fff; height:30px; background-position:10px;}
.gonggao_jt{ padding-left:36px; height:30px; line-height:30px;}
.fenlei{ padding:10px; background:#fff; overflow:hidden;}
.fenlei li{ width:25%; float:left; text-align:center; line-height:34px;}
.rmtj{ margin-top:8px; overflow:hidden; border-bottom:1px solid #eee; padding:10px; height:30px; background:#fff;}
.rmtj_left{ width:60%; float:left; height:30px; line-height:30px; color:#eb514f;}
.rmtj_right{ width:40%; float:right; height:30px; background:url(../images/pic14.png) no-repeat right center;}
.chanpin{ border-bottom:1px solid #eee; overflow:hidden; background:#fff;}
.chanpin li{ width:50%; float:left;}
.chanpin_mb{ border-right:1px solid #eee; text-align:center; padding:10px; line-height:20px;}
.chanpin_mb p{ font-size:12px;}/*PRINCE*/

.chanpin_mb  img{width: 150px;height: 150px;}
.red{ color:#d02525;}
.xiexian{ font-size:13px; text-decoration:line-through; margin-left:5px;}
.gundong{height:30px;line-height:30px; overflow:hidden;}
.zzsc{ width:50px; height:45px; position:fixed; left:0; top:60%; margin-top:-125px; z-index:900;}
.zzsc a{ width:50px; height:45px;  float:left; display:block;  margin-bottom:8px;}

.detaile_con{ width: 100%; overflow: hidden; background: #fff; font-size: 14px;}
.deta_img{ width: 100%; text-align: center; overflow: hidden;}
.deta_img img{ width: 32.64%; height: auto; padding: 15px 0px 10px;}
.deta_text{ width: 91.68%; padding: 0 4.16%; overflow: hidden; border-bottom: 1px solid #eeeeee;}
.deta_text h1{ font-weight: normal; color: #565555; font-size: 16px; padding: 0; margin: 0;}
.deta_text p{ color: #929292; padding: 7px 0px;}
.deta_text span.now_price{ color: #f24b48; float: left; font-size: 16px; line-height: 29px;}
.deta_text em{ font-style: normal; background: #f24b48; display: inline; margin-left: 10px; float: left; color: #fff; padding: 5px;}
.deta_text span.after_price{ color: #565555; clear: both; display: block; text-decoration: line-through; padding: 5px 0;}

.outher{ width: 91.68%; padding: 10px 4.16%; overflow: hidden; font-size: 14px; border-bottom: 1px solid #f7f7f7;}
.outher span{ float: left; color: #434546; width: 75%;height: 30px;line-height: 30px;} /*re feng ke ji*/
.outher a{ float: right; margin-top: 3px; text-align: center; background: #ff7f06; color: #fff; border-radius: 5px; width: 25%; display: block; height: 30px; font-size: 14px; line-height: 30px;}

@media screen and (min-width:408px) {
	.outher span{ float: left; color: #434546; width: 75%; line-height: 35px; overflow: hidden;}
}
.deta_bto{ width: 100%; border-top: 1px solid #eee; margin-top: 5px; background: #fff;}
.lab_inp{ width: 91.68%; padding: 0 4.16%; overflow: hidden; margin-top: 15px; border-bottom: 1px solid #eee; padding-bottom: 15px;}
.lab_inp label{ font-size: 14px; color: #434546; text-align: right; display: block; width: 94px; float: left; line-height: 30px;}
.lab_inp .choose{ float: left; width: 67.5%; overflow: hidden;}
.lab_inp .choose span{ display: inline; margin-right: 5%; float: left; border: 1px solid #eee; color: #565555; width:30%; border-radius: 5px; text-align: center; height: 28px; line-height: 28px; font-size: 13px;}
.lab_inp .choose span.active{ background: #f24b48; border-color:#f24b48; color: #fff;}

.add_num{ float: left; width: 40%; overflow: hidden; border: 1px solid #e5e5e5; height: 28px; background: #f0f0f0;}
.add_num a.jian{ font-weight: 900; text-align: center; float: left; width: 32%; display: block; line-height: 28px;}
.add_num span.val{ float: left; width: 33%; background: #fff; display: block; text-align: center; line-height: 29px; border-right: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5;}
.add_num a.add{ font-weight: 900; float: right; text-align: center; width: 32%; display: block; line-height: 28px;}

.bao{ background: #fffdce; margin:5px auto; width: 97%; overflow: hidden; padding: 10px 1.5%; font-size: 12px;}
.bao a{ background: #f24b48; color: #fff; display: block; width: 24px; height: 24px; font-size: 14px; text-align: center; line-height: 24px; border-radius: 5px; float: left;}
.bao p{ float: left; line-height: 24px; color: #333;}

@media screen and (min-width:330px) {
	.bao p{ float: left; line-height: 24px; padding-left: 10px; color: #333333;}
}

.choose_title{ width: 100%; border-top:1px solid #eeeeee; overflow: hidden; background: #fff;}
.choose_title li{ float: left; width: 33.33%; font-size: 15px; text-align: center; height: 40px; line-height: 40px; border-bottom: 2px solid #eee;}
.choose_title li.hover{ border-bottom: 2px solid #f24b48;}
.choose_title li a{ display: block; height: 26px; margin: 7px 0; border-right:1px solid #eee; line-height: 26px;}

.btn_footer{width: 91.68%; margin: 15px auto; overflow: hidden;}
.btn_footer div{ display: block; float: left; width: 50%; overflow: hidden;}
.btn_footer span{ text-align: center; width: 85%; margin: 0 auto; display: block; border-radius: 5px; height: 35px;}
.btn_footer span a{ text-align: center; margin: 0 auto; display: block; color: #fff; font-size: 16px; height: 35px; line-height: 35px;}
.btn_footer a img{ width: 18px; display: inline; float: left; padding-top: 9px;}
.btn_footer a em{ float: right;}
.btn_footer span.a1{ background:#ffa200;}
.btn_footer span.a2{ background:#ff6868;}
.btn_footer span.a1 a{ width: 88px;}
.btn_footer span.a2 a{ width: 103px;}

.person_top{ width: 100%; overflow: hidden; position: relative; padding-bottom: 5px;}
.top_bj{ position: absolute; z-index: -1; width: 100%; height: auto; display: block;}
.per_con{ width: 100%; border-bottom: 1px solid rgba(245,245,245,0.3); overflow: hidden; padding: 15px 0px 10px;}
.per_con img{ float: left; display: inline; border:1px solid #fff; border-radius: 50%; width: 70px; height: 70px; margin: 5px 4.16%;}
.per_con .name_right{ color: #fff; font-size: 16px; line-height: 26px;}

.icon_list{ width: 100%; overflow: hidden; padding-top: 12px;}
.icon_list li{ float: left; width: 25%; text-align: center;}
.icon_list li a img{ height: 24px; width: auto;}
.icon_list li a span{ display: block; color: #fff; width: 100%; text-align: center; font-size: 14px; padding-top: 3px;}

.per_icon_list{ width: 100%; overflow: hidden; border-top: 1px solid #eee; margin-top: 8px;}
.per_icon_list .per_list{ display: block; width: 100%; border-bottom: 1px solid #eee; height: 54px; line-height: 54px; background: #fff;}
.per_icon_list .per_list img.icon{ float: left; padding-left: 4.16%; width: 28px; margin-top: 13px;}
.per_icon_list .per_list span{ float: left; font-size: 16px; color: #000; padding-left: 15px;}
.per_icon_list .per_list img.right_img{ float: right; padding-right: 4.16%; width: 10px; margin-top: 18px;}

.my_photo{ width: 100%; overflow: hidden; position: relative; color: #fff; text-align: center; line-height: 26px; padding-bottom: 10px;}
.my_photo img.my_img{ width: 70px; height: 70px;border-radius: 50%; border:1px solid #fff; margin-top: 15px;}

.xs_price{ width: 100%; overflow: hidden; background: #fff; padding: 8px 0 10px; border-bottom: 1px solid #eee;}
.xs_price span{ display: block; float: left; width: 50%; text-align: center; font-size: 16px;}
.xs_price span em{ display: block; border-right: 1px solid #eee;}
.xs_price span i{ display: block;}
.xs_price span .price{ color: #eb514f; padding-bottom: 2px;}

.per_icon_list ul{ width: 100%; overflow: hidden; padding-top: 5px;}
.per_icon_list ul li{ width: 90%; margin-left: 10%; border-bottom: 1px dashed #dcdcdc;}
.per_icon_list ul li:last-child{border-bottom: 0;}
.per_icon_list ul li a{ color: #000; font-size: 15px; line-height: 36px; padding-left: 10px;}
.footer_in{ width: 100%; overflow: hidden; margin-top: 5px;}
.in{position:relative; height:2.8rem;   background-color:#B9B9B9;}
.search_box{position:relative; top:0.4rem; width: 66%; background:#fff; border-radius:20px; text-align:center;margin: 0 auto;overflow: hidden;}
	.search_box input{width:85%; height:2rem; line-height: normal; border:none; font-size:0.8rem }
	.search_box button{position:absolute; top:0.4rem; right:0.6rem; width:1.2rem; height:1.2rem;   border:none;}
	#search_box{padding:0 3.2rem 0 1rem;position:relative;background-color:#ec5151; height:3rem; top:-3rem; display:none  }
	#search_box .search_box{position:relative; top:0.5rem; }
	#search_box .ico_08{position:absolute; top:0; right:0; display:block;width: 3rem;height:3rem; padding: 0 0.2rem;}
	#search_box2{padding:0 3.2rem; height:3rem; top:-3rem;  }
	#search_box2 .search_box{position:relative; top:0.5rem; }
	.homeBtn,.gotop{position:absolute; top:0; width:2.8rem; height:2.8rem; color:#fff; font-size:0.65rem;}
	.gotop,.homeBtn{background:#a1a1a1;}
	.homeBtn{left:0;}
	/*.homeBtn span{position:absolute; left:0.5rem; top:0.5rem;}   PRINCE*/
	.gotop{right:0;}
	.gotop span{position:absolute; left:50%; top:0.8rem; width:0.9rem; height:0.9rem; margin:-0.3rem 0 0 -0.3rem;}
	.gotop p{position:absolute; bottom:0.14rem; left:0.45rem; width:2.2rem;}
	.homeBtn span{position:absolute; right:50%; top:0.8rem; width:0.9rem; height:0.9rem; margin:-0.1rem 0 0 0.5rem;}/*PRINCE */
	.homeBtn p{position:absolute; bottom:0.14rem; left:0.45rem; width:2.2rem;} /*PRINCE*/
	.ico_05{background:url(../images/ico_05.png) no-repeat 50% 50%; -webkit-background-size:1.8rem 1.8rem;-moz-background-size:1.8rem 1.8rem;background-size:1.8rem 1.8rem; width:1.8rem; height:1.8rem}
	.ico_06{background:url(../images/ico_06.png)  no-repeat 50% 50%; -webkit-background-size:1.0rem 1.0rem;-moz-background-size:1.0rem 1.0rem;background-size:1.0rem 1.0rem; width:1.0rem; height:1.0rem}
	.ico_07{background:url(../images/ico_07.png)  no-repeat 50% 50%;-webkit-background-size:1.2rem 1.2rem;-moz-background-size:1.2rem 1.2rem;background-size:1.2rem 1.2rem; width:1.2rem; height:1.2rem}
	.ico_back{background:url(../images/go_back.png)  no-repeat 50% 50%; -webkit-background-size:1.0rem 1.0rem;-moz-background-size:1.0rem 1.0rem;background-size:1.0rem 1.0rem; width:1.0rem; height:1.0rem}/*PRINCE */
	.footer_in p{text-align:center;line-height: 1.3rem;}

.header_cen{ color: #f5f5f5; text-align: center; font-size: 18px; line-height: 40px; width: 50%; position: absolute; left: 25%; top: 0;}
.hea_left img{
    display: block;
    width: 14px;
    padding-top: 7px;
}
.dibu{ text-align:center; font-size:14px; padding-top:5px; padding-bottom:5px; line-height:24px; color:#999;}
.dibu a{ color:#999;}


